@media (min-width: 768px) {
    .md\:block {
        display: block;
    }
}
nav {
    display: block;
    unicode-bidi: isolate;  
}

.pointer-events-auto {
    pointer-events: auto;
}

*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #3763b9;
}

